<ion-view view-title="Quem tem TDAH ?">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Você não está sozinho !</h2>
                <br>
                <p>Há um equívoco comum por aí que as pessoas com TDAH se tornam muito distraídas para fazer qualquer coisa. Isso não poderia estar mais longe da verdade.
                </p>
                <p>Atualmente, estima-se que 7% dos adultos sejam afetados por essa doença. E dessa porcentagem vem algumas das pessoas mais influentes do mundo. Isso mesmo, alguns dos maiores filósofos, atletas e empresários de todos os tempos sofrem com essa condição não tão rara.
                </p>
                <p>A verdade é que, quando as pessoas com TDAH conseguem encontrar algo sobre o qual são apaixonadas, elas se dedicarão mais do que qualquer outra pessoa poderia imaginar - muitas vezes esmagando a concorrência.
                </p>
                <p>E, a julgar pelo que algumas pessoas realizaram, acho seguro dizer que isso deve ser considerado mais uma vantagem do que uma fraqueza. Estas são as 10 pessoas mais bem-sucedidas com TDAH.
                </p>
            </div>
        </div>
        <div class="list">
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/Walt_Disney">
                <img src="img/celebridades/walt-disney.jpg">
                <h2>Walt Disney</h2>
                <p>Fundador da Disneyland</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/John_F._Kennedy">
                <img src="img/celebridades/john-kennedy.jpg">
                <h2>John F. Kennedy</h2>
                <p>O 35º Presidente dos Estados Unidos</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/Michael_Phelps">
                <img src="img/celebridades/michael-phelps.jpg">
                <h2>Michael Phelps</h2>
                <p>Atleta Olímpico</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/Justin_Timberlake">
                <img src="img/celebridades/justin-timberlake.jpg">
                <h2>Justin Timberlake</h2>
                <p>Cantor, Ator, Produtor e Empresario</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/Michael_Jordan">
                <img src="img/celebridades/michael-jordan.jpg">
                <h2>Michael Jordan</h2>
                <p>O maior de todos os tempos</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/Jim_Carrey">
                <img src="img/celebridades/jim-carrey.jpg">
                <h2>Jim Carrey</h2>
                <p>Ator, Comediante e Produtor</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/David_Neeleman">
                <img src="img/celebridades/david-neeleman.jpg">
                <h2>David Neeleman</h2>
                <p>Fundador da JetBlue Airways</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/Will_Smith">
                <img src="img/celebridades/will-smith.jpg">
                <h2>Will Smith</h2>
                <p>Ator, Produtor e Rapper</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/Richard_Branson">
                <img src="img/celebridades/richard-branson.jpg">
                <h2>Richard Branson</h2>
                <p>Fundador do grupo Virgin</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/Albert_Einstein">
                <img src="img/celebridades/albert_einstein.jpg">
                <h2>Albert Einstein</h2>
                <p>Físico</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/Jamie_Oliver">
                <img src="img/celebridades/jamie-oliver.jpg">
                <h2>Jamie Oliver</h2>
                <p>Chefe Culinário</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/Ty_Pennington">
                <img src="img/celebridades/ty-pennington.jpg">
                <h2>Ty Pennington</h2>
                <p>Apresentador, Artista</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/Paris_Hilton">
                <img src="img/celebridades/paris-hilton.jpg">
                <h2>Paris Hilton</h2>
                <p>Apresentador, Artista</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/Michelle_Rodriguez">
                <img src="img/celebridades/michelle-rodriguez.jpg">
                <h2>Michelle Rodriguez</h2>
                <p>Atriz e Roterista</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/Howie_Mandel">
                <img src="img/celebridades/howie-mandel.jpg">
                <h2>Howie Mandel</h2>
                <p>Comediante e Apresentador</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/celebridades/terry-bradshaw.jpg">
                <h2>Terry Bradshaw</h2>
                <p>Ex quarterback na NFL</p>
            </a>
            <a class="item item-thumbnail-left" href="https://en.wikipedia.org/wiki/James_Carville">
                <img src="img/celebridades/james-carville.jpg">
                <h2>James Carville</h2>
                <p>Consultor Político e Comentarista</p>
            </a>
        </div>
    </ion-content>
</ion-view>
