<ion-view view-title="Características">
    <ion-content class="padding">
        <h2>Diagnóstico de Características</h2>
        <hr>
        <div class="item item-divider bar bar-header bar-dark item-text-wrap">Marque as opções que você mais se identifica</div>
        <br>
        <ion-list>
            <li class="item item-divider">
                Série A
            </li>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice1" value="1">1. Escrevo listas daquilo que tenho de fazer.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice2" value="1">2. Realizo coisas desde que as instruções escritas sejam bem detalhadas.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice3" value="1">3. Gosto de fazer palavras cruzadas.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice4" value="1">4. Gosto de exposições e museus.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice5" value="1">5. Localizo-me com facilidade, numa cidade nova, se eu tiver um mapa.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice6" value="1">6. Todos os meses assisto a vários filmes.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice7" value="1">7. Não tenho boa impressão de alguém, se estiver mal vestido.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice8" value="1">8. Gosto de observar as pessoas.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice9" value="1">9. Acho que flores realmente embelezam a casa e o escritório.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice10" value="1">10. Mando consertar os arranhões do meu carro o mais rápido possível. </ion-checkbox>
            <div class="item item-text-wrap">
                <a class="subdued">{{ dados.choice1 -- dados.choice2 -- dados.choice3 -- dados.choice4 -- dados.choice5 -- dados.choice6 -- dados.choice7 -- dados.choice8 -- dados.choice9 -- dados.choice10 }} Pontos</a>
            </div>
        </ion-list>
        <br>
        <ion-list>
            <li class="item item-divider">
                Série B
            </li>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice11" value="1">1. Gosto de longas conversas.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice12" value="1">2. Gosto de programas de entrevistas, no rádio e na TV.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice13" value="1">3. Sou bom ouvinte.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice14" value="1">4. Prefiro os noticiários de rádio e TV do que jornais e revistas.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice15" value="1">5. Sinto-me mal quando meu carro faz algum barulho diferente.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice16" value="1">6. Quando ouço música presto muita atenção à letra.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice17" value="1">7. Posso dizer muito sobre alguém somente pelo seu tom de voz.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice18" value="1">8. Prefiro fazer uma palestra a escrever sobre um assunto.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice19" value="1">9. As pessoas dizem que, às vezes, falo demais.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice20" value="1">10. Costumo conversar comigo mesmo ou com meu gato / cão. </ion-checkbox>
            <div class="item item-text-wrap">
                <a class="subdued">{{ dados.choice11 -- dados.choice12 -- dados.choice13 -- dados.choice14 -- dados.choice15 -- dados.choice16 -- dados.choice17 -- dados.choice18 -- dados.choice19 -- dados.choice20 }} Pontos</a>
            </div>
        </ion-list>
        <br>
        <ion-list>
            <li class="item item-divider">
                Série C
            </li>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice21" value="1">1. Quando ouço música, não consigo deixar de mexer as mãos e os pés.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice22" value="1">2. Gosto muito de estar ao ar livre.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice23" value="1">3. Tenho boa coordenação motora.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice24" value="1">4. Tenho tendência a ganhar peso.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice25" value="1">5. Gosto de criar animais de estimação.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice26" value="1">6. Toco as pessoas quando converso.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice27" value="1">7. Gosto mais de praticar esportes do que assistir a eles.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice28" value="1">8. Adoro banho, piscina, sauna.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice29" value="1">9. Gosto de levantar-me e espreguiçar-me com frequência.</ion-checkbox>
            <ion-checkbox class="item-text-wrap" ng-model="dados.choice30" value="1">10. Posso dizer muito sobre uma pessoa através de seu aperto de mão. </ion-checkbox>
            <div class="item item-text-wrap">
                <a class="subdued">{{ dados.choice21 -- dados.choice22 -- dados.choice23 -- dados.choice24 -- dados.choice25 -- dados.choice26 -- dados.choice27 -- dados.choice28 -- dados.choice29 -- dados.choice30 }} Pontos</a>
            </div>
        </ion-list>
        <div class="card">
            <div class="item item-divider">
                AVALIAÇÃO: </div>
            <div class="item item-text-wrap">
                <p>Marque um ponto para cada opção selecionada e veja quantos pontos você fez em cada série.</p>
                <br>
                <ul>
                    <p>As maiores pontuações correspondem as casracteristicas mais fortes</p>
                    <li>{{ dados.choice1 -- dados.choice2 -- dados.choice3 -- dados.choice4 -- dados.choice5 -- dados.choice6 -- dados.choice7 -- dados.choice8 -- dados.choice9 -- dados.choice10 }} Pontos – VISUAL</li>
                    <li>{{ dados.choice11 -- dados.choice12 -- dados.choice13 -- dados.choice14 -- dados.choice15 -- dados.choice16 -- dados.choice17 -- dados.choice18 -- dados.choice19 -- dados.choice20 }} Pontos – AUDITIVO</li>
                    <li>{{ dados.choice21 -- dados.choice22 -- dados.choice23 -- dados.choice24 -- dados.choice25 -- dados.choice26 -- dados.choice27 -- dados.choice28 -- dados.choice29 -- dados.choice30 }} Pontos – CINESTÉSICO</li>
                </ul>
                <br>
                <p>Observe também se existe uma grande diferença entre eles. Quanto mais próxima ela estiver, melhor, pois o ideal é termos os três canais desenvolvidos. O canal onde obteve o menor número de pontos é aquele que você precisa desenvolver. Agora veja as características de cada canal. </p>
            </div>
        </div>
        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-eye"></i> Visual
            </a>
            <div class="item item-body">
                <p>
                    A pessoa com predominância do canal VISUAL, é ligada na beleza e estética, em formas e detalhes. Tem uma postura corporal rígida e sua respiração é torácica. Ela fala muito rapidamente porque as imagens se sucedem em sua mente como um filme. Entre o prático e o bonito, a pessoa VISUAL sempre escolherá o bonito. È uma pessoa obcecada por arrumação e ordem e para atender o que lhe dizem, a pessoa VISUAL precisa que "mostrem" o que é. O VISUAL não dá valor às palavras e não reage bem ao toque ao contrário da pessoa Cinestésica.
                </p>
            </div>
        </div>
        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-headphone"></i> Auditivo
            </a>
            <div class="item item-body">
                <p>
                    A pessoa com predominância AUDITIVA, não dá grande valor às aparências, mas sim ao bom papo, bom senso e inteligência. São equilibradas e estão sempre prontas a discutir os problemas pois acreditam na lógica dos argumentos. O tom da voz é médio, a respiração é torácica e abdominal. A memória para os sons é fantástica: são capazes de lembrar-se de coisas que lhes foram ditas há muitos anos atrás. O barulho, vozes estridentes ou ásperas ferem as pessoas auditivas. Apreciam músicas com letras bem elaboradas, que passam uma mensagem consistente. Para ter certeza de alguma coisa, o auditivo precisa ouvir, do contrário, não acreditará.
                </p>
            </div>
        </div>
        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-android-hand"></i> Cinestésico
            </a>
            <div class="item item-body">
                <p>
                    A pessoa com predominância do canal CINESTÉSICO é, dos 3 tipos, o mais sujeito ao sofrimento. Para esta pessoa todas as experiências são físicas. Esta pessoa prefere conforto à beleza e busca sempre o bem-estar, o prazer e o aconchego. Este tipo de pessoa precisa ser abraçada, tocada, beijada para que se sinta amada. Ela prefere roupas velhas e confortáveis, sapatos que não apertam, nadar, pisar na areia, estar junto da natureza. As pessoas CINESTÉSICAS possuem o tom de voz baixo, ritmo lento e respiração abdominal. Gostam de músicas lentas e baladas e se sentem agredidas quando não são correspondidas em sua necessidade de contato corporal.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
