<ion-view view-title="Adultos">
    <ion-content class="padding">
        <h2>Diagnóstico em Adultos</h2>
        <hr>
        <h3>Parte A</h3>
        <p class="item item-divider item-text-wrap">1. Com que freqüência você comete erros por falta de atenção quando tem de trabalhar num projeto chato ou difícil? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">2. Com que freqüência você tem dificuldade para manter a atenção quando está fazendo um trabalho chato ou repetitivo? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">3. Com que freqüência você tem dificuldade para se concentrar no que as pessoas dizem, mesmo quando elas estão falando diretamente com você?</p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">4. Com que freqüência você deixa um projeto pela metade depois de já ter feito as partes mais difíceis? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">5. Com que freqüência você tem dificuldade para fazer um trabalho que exige organização? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">6. Quando você precisa fazer algo que exige muita concentração, com que freqüência você evita ou adia o início? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">7. Com que freqüência você coloca as coisas fora do lugar ou tem de dificuldade de encontrar as coisas em casa ou no trabalho?</p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">8. Com que freqüência você se distrai com atividades ou barulho a sua volta? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">9. Com que freqüência você tem dificuldade para lembrar de compromissos ou obrigações?</p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>

        <h3>Parte B</h3>

        <p class="item item-divider item-text-wrap">1. Com que freqüência você fica se mexendo na cadeira ou balançando as mãos ou os pés quando precisa ficar sentado (a) por muito tempo? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">2. Com que freqüência você se levanta da cadeira em reuniões ou em outras situações onde deveria ficar sentado (a)? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">3. Com que freqüência você se sente inquieto (a) ou agitado (a)? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">4. Com que freqüência você tem dificuldade para sossegar e relaxar quando tem tempo livre para você? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">5. Com que freqüência você se sente ativo (a) demais e necessitando fazer coisas, como se estivesse “com um motor ligado”? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">6. Com que freqüência você se pega falando demais em situações sociais? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">7. Quando você está conversando, com que freqüência você se pega terminando as frases das pessoas antes delas? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">8. Com que freqüência você tem dificuldade para esperar nas situações onde cada um tem a sua vez? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <p class="item item-divider item-text-wrap">9. Com que freqüência você interrompe os outros quando eles estão ocupados? </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <br>
        <hr>
        <div class="row">
            <div class="col"><button class="button button-positive">Explore Recursos e próximos passos</button>
            </div>
            <div class="col"><button class="button button-energized">Faça o teste novamente</button>
            </div>
        </div>
    </ion-content>
</ion-view>
