<ion-view view-title="Diagnóstico">
    <ion-content>
        <ion-list>
            <ion-item href="#/tab/chats/diagnostico-crianca">
                <button class="button button-full button-positive">Criança</button>
            </ion-item>
            <ion-item href="#/tab/chats/diagnostico-adulto">
                <button class=" button button-full button-positive ">Adulto</button>
            </ion-item>
            <ion-item href="#/tab/chats/diagnostico-caracteristica">
                <button class=" button button-full button-positive ">Visual, Auditivo ou Cinestésico</button>
            </ion-item>
            <!--
<ion-item class="item-remove-animate item-avatar item-icon-right " ng-repeat="chat in chats " type="item-text-wrap " href="#/tab/chats/{{chat.id}} ">
    <img ng-src="{{chat.face}} ">
    <h2>{{chat.name}}</h2>
    <p>{{chat.lastText}}</p>
    <i class="icon ion-chevron-right icon-accessory "></i>
    <ion-option-button class="button-assertive " ng-click="remove(chat) ">
        Delete
    </ion-option-button>
</ion-item>
-->
        </ion-list>
    </ion-content>
</ion-view>
