<ion-view view-title="Crianças">
    <ion-content class="padding">
        <h2>Diagnóstico em Crianças</h2>
        <hr>
        <p>1. Não consegue prestar muita atenção a detalhes ou comete erros por descuido nos trabalhos da escola ou tarefas </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>2. Tem dificuldade de manter a atenção em tarefas ou atividades de lazer </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>3. Parece não estar ouvindo quando se fala diretamente com ele </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>4. Não segue instruções até o fim e não termina deveres de escola, tarefas ou obrigações </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>5. Tem dificuldade para organizar tarefas e atividades </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>6. Evita, não gosta ou se envolve contra a vontade em tarefas que exigem esforço mental prolongado </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>7. Perde coisas necessárias para atividades (p. ex: brinquedos, deveres da escola, lápis ou livros) </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>8. Distrai-se com estímulos externos </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>9. É esquecido em atividades do dia-a-dia </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>10. Mexe com as mãos ou os pés ou se remexe na cadeira </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>11. Sai do lugar na sala de aula ou em outras situações em que se espera que fique sentado </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>12. Corre de um lado para outro ou sobe demais nas coisas em situações em que isto é inapropriado </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>13. Tem dificuldade em brincar ou envolver-se em atividades de lazer de forma calma </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>14. Não pára ou freqüentemente está a “mil por hora” </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>15. Fala em excesso </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>16. Responde as perguntas de forma precipitada antes delas terem sido terminadas </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>17. Tem dificuldade de esperar sua vez </p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <p>18. Interrompe os outros ou se intromete (por exemplo: intromete-se nas conversas, jogos, etc.)</p>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Sim</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Não</ion-radio>
        </ion-list>
        <hr>
        <button class="button button-positive">
        Explore Recursos e próximos passos </button>
        <button class="button button-energized">
            Faça o teste novamente
        </button>
    </ion-content>
</ion-view>
