<ion-view view-title="Crianças">
    <ion-content class="padding">

        <h2 class="text-center">Diagnóstico em Crianças</h2>
        <hr>
        <div class="card">
            <ion-list>
                <div class="item item-divider bar bar-header bar-energized text-center">Desatenção</div>
                <p class="item item-divider item-text-wrap">1. Não consegue prestar muita atenção a detalhes ou comete erros por descuido nos trabalhos da escola ou tarefas </p>
                <ion-list>
                    <ion-radio name="choice1" ng-model="dados.choice1" value="1">Sim</ion-radio>
                    <ion-radio name="choice1" ng-model="dados.choice1" value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">2. Tem dificuldade de manter a atenção em tarefas ou atividades de lazer </p>
                <ion-list>
                    <ion-radio name="choice2" ng-model="dados.choice2" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice2" ng-model="dados.choice2" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">3. Parece não estar ouvindo quando se fala diretamente com ele </p>
                <ion-list>
                    <ion-radio name="choice3" ng-model="dados.choice3" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice3" ng-model="dados.choice3" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">4. Não segue instruções até o fim e não termina deveres de escola, tarefas ou obrigações </p>
                <ion-list>
                    <ion-radio name="choice4" ng-model="dados.choice4" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice4" ng-model="dados.choice4" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">5. Tem dificuldade para organizar tarefas e atividades </p>
                <ion-list>
                    <ion-radio name="choice5" ng-model="dados.choice5" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice5" ng-model="dados.choice5" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">6. Evita, não gosta ou se envolve contra a vontade em tarefas que exigem esforço mental prolongado </p>
                <ion-list>
                    <ion-radio name="choice6" ng-model="dados.choice6" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice6" ng-model="dados.choice6" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">7. Perde coisas necessárias para atividades (p. ex: brinquedos, deveres da escola, lápis ou livros) </p>
                <ion-list>
                    <ion-radio name="choice7" ng-model="dados.choice7" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice7" ng-model="dados.choice7" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">8. Distrai-se com estímulos externos </p>
                <ion-list>
                    <ion-radio name="choice8" ng-model="dados.choice8" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice8" ng-model="dados.choice8" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">9. É esquecido em atividades do dia-a-dia </p>
                <ion-list>
                    <ion-radio name="choice9" ng-model="dados.choice9" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice9" ng-model="dados.choice9" ng-value="0">Não</ion-radio>
                </ion-list><br>
            </ion-list>
        </div>
        <div class="card">
            <ion-list>
                <div class="item item-divider bar bar-header bar-royal text-center">Hiperatividade</div>
                <p class="item item-divider item-text-wrap">10. Mexe com as mãos ou os pés ou se remexe na cadeira </p>
                <ion-list>
                    <ion-radio name="choice10" ng-model="dados.choice10" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice10" ng-model="dados.choice10" ng-value="0">Não</ion-radio>
                </ion-list>
                <p class="item item-divider item-text-wrap">11. Sai do lugar na sala de aula ou em outras situações em que se espera que fique sentado </p>
                <ion-list>
                    <ion-radio name="choice11" ng-model="dados.choice11" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice11" ng-model="dados.choice11" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">12. Corre de um lado para outro ou sobe demais nas coisas em situações em que isto é inapropriado </p>
                <ion-list>
                    <ion-radio name="choice12" ng-model="dados.choice12" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice12" ng-model="dados.choice12" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">13. Tem dificuldade em brincar ou envolver-se em atividades de lazer de forma calma </p>
                <ion-list>
                    <ion-radio name="choice13" ng-model="dados.choice13" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice13" ng-model="dados.choice13" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">14. Não pára ou freqüentemente está a “mil por hora” </p>
                <ion-list>
                    <ion-radio name="choice14" ng-model="dados.choice14" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice14" ng-model="dados.choice14" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">15. Fala em excesso </p>
                <ion-list>
                    <ion-radio name="choice15" ng-model="dados.choice15" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice15" ng-model="dados.choice15" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">16. Responde as perguntas de forma precipitada antes delas terem sido terminadas </p>
                <ion-list>
                    <ion-radio name="choice16" ng-model="dados.choice16" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice16" ng-model="dados.choice16" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">17. Tem dificuldade de esperar sua vez </p>
                <ion-list>
                    <ion-radio name="choice17" ng-model="dados.choice17" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice17" ng-model="dados.choice17" ng-value="0">Não</ion-radio>
                </ion-list><br>
                <p class="item item-divider item-text-wrap">18. Interrompe os outros ou se intromete (por exemplo: intromete-se nas conversas, jogos, etc.)</p>
                <ion-list>
                    <ion-radio name="choice18" ng-model="dados.choice18" ng-value="1">Sim</ion-radio>
                    <ion-radio name="choice18" ng-model="dados.choice18" ng-value="0">Não</ion-radio>
                </ion-list>
            </ion-list>
        </div>
        <h2 class="text-center">Resultados</h2>
        <hr>
        <ion-list>
            <!--Se existem pelo menos 6 itens marcados como “BASTANTE” ou “DEMAIS” de 10 a 18-->
            <div class="card">
                <div class="item item-divider bar bar-header bar-energized text-center">Desatenção</div>
                <div class="item item-text-wrap">O resultado é: {{ dados.choice1 -- dados.choice2 -- dados.choice3 -- dados.choice4 -- dados.choice5 -- dados.choice6 -- dados.choice7 -- dados.choice8 -- dados.choice9 }}</div>
                <div class="item item-text-wrap">Se o resultado for maior ou igual a 6. Existem mais sintomas de desatenção que o esperado numa criança ou adolescente.</div>
            </div>
            <!--Se existem pelo menos 6 itens marcados como “BASTANTE” ou “DEMAIS” de 1 a 9-->
            <div class="card">
                <div class="item item-divider bar bar-header bar-royal text-center">Hiperatividade</div>
                <div class="item item-text-wrap">O resultado é: {{ dados.choice10 -- dados.choice11 -- dados.choice12 -- dados.choice13 -- dados.choice14 -- dados.choice15 -- dados.choice16 -- dados.choice17 -- dados.choice18 }}</div>
                <div class="item item-text-wrap">Se o resultado for maior ou igual a 6. Existem mais sintomas de hiperatividade e impulsividade que o esperado numa criança ou adolescente.</div>
            </div>
            <div class="list">
                <div class="item item-divider item-text-wrap">Notas</div>
                <div class="item item-divider item-text-wrap">O questionário SNAP-IV é útil para avaliar apenas o primeiro dos critérios (critério A) para se fazer o diagnóstico. Existem outros critérios que também são necessários. <br><br>IMPORTANTE: Não se pode fazer o diagnóstico de TDAH apenas com o critério A! Veja abaixo os demais critérios.</div>
                <ul class="list">
                    <div class="item item-avatar">
                        <img src="img/letters/A.jpg">
                        <h2>CRITÉRIO A</h2>
                        <div class="item-text-wrap">
                            <p>Sintomas (vistos acima)</p>
                        </div>
                    </div>
                    <div class="item item-avatar">
                        <img src="img/letters/B.jpg">
                        <h2>CRITÉRIO B</h2>
                        <div class="item-text-wrap">
                            <p>Alguns desses sintomas devem estar presentes antes dos 7 anos de idade.</p>
                        </div>
                    </div>
                    <div class="item item-avatar">
                        <img src="img/letters/C.jpg">
                        <h2>CRITÉRIO C</h2>
                        <div class="item-text-wrap">
                            <p>Existem problemas causados pelos sintomas acima em pelo menos 2 contextos diferentes (por ex., na escola, no trabalho, na vida social e em casa).</p>
                        </div>
                    </div>
                    <div class="item item-avatar">
                        <img src="img/letters/D.jpg">
                        <h2>CRITÉRIO D</h2>
                        <div class="item-text-wrap">
                            <p>Há problemas evidentes na vida escolar, social ou familiar por conta dos sintomas.</p>
                        </div>
                    </div>
                    <div class="item item-avatar">
                        <img src="img/letters/E.jpg">
                        <h2>CRITÉRIO E</h2>
                        <div class="item-text-wrap">
                            <p>Se existe um outro problema (tal como depressão, deficiência mental, psicose, etc.), os sintomas não podem ser atribuídos exclusivamente a ele.</p>
                        </div>
                    </div>
                </ul>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
