<ion-view view-title="Diagnóstico">
    <ion-content>
        <ion-list>
            <div class="list card">
                <div class="item-header">
                    <h2 class="text-center">Crianças</h2>
                </div>
                <div class="item item-image">
                    <img src="img/diagnostics/child.png">
                </div>
                <div class="row row-center">
                    <a class="item row" href="#/tab/guide/diagnostics-children">
                        <button class="button button-outline button-positive col col-33 col-offset-33">Faça o teste !</button></a>
                </div>
            </div>
            <div class="list card">
                <div class="item-header">
                    <h2 class="text-center">Adultos</h2>
                </div>
                <div class="item item-image">
                    <img src="img/diagnostics/adult.png">
                </div>
                <div class="row row-center">
                    <a class="item row" href="#/tab/guide/diagnostics-adulto">
                        <button class="button button-outline button-positive col col-33 col-offset-33">Faça o teste !</button></a>
                </div>
            </div>
            <div class="list card">
                <div class="item-header">
                    <h2 class="text-center"> Visual, Auditivo ou Cinestésico</h2>
                </div>
                <div class="item item-image">
                    <img src="img/diagnostics/vac.png">
                </div>
                <div class="row row-center">
                    <a class="item row" href="#/tab/guide/diagnostics-characteristics">
                        <button class="button button-outline button-positive col col-33 col-offset-33">Faça o teste !</button></a>
                </div>
            </div>
            <!--
<ion-item class="item-icon-right" type="item-text-wrap" href="#/tab/guide/diagnostics-children">
    Criança
    <i class="icon ion-chevron-right icon-accessory"></i>
</ion-item>
<ion-item class="item-icon-right" type="item-text-wrap" href="#/tab/guide/diagnostics-adulto">
    Adulto
    <i class="icon ion-chevron-right icon-accessory"></i>
</ion-item>
<ion-item class="item-icon-right" type="item-text-wrap" href="#/tab/guide/diagnostics-characteristics">
    Visual, Auditivo ou Cinestésico
    <i class="icon ion-chevron-right icon-accessory"></i>
</ion-item>
-->
        </ion-list>
    </ion-content>
</ion-view>
