<ion-view view-title="Estudando">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Briefing</h2>
                <br>
                <p>Aqui iremos demonstrar técnicas de estudo para utilizarmos em nosso dia-a-dia</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/numbers/1.png">
                <h2>Motivação</h2>
                <p></p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="#">
                <p>Até aproximadamente 2012, o tratamento medicamentoso do TDAH no Brasil era quase que exclusivamente feito por meio da droga psicoestimulante Metilfenidato. </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/numbers/2.png">
                <h2>Utilizando o Caderno</h2>
                <p>A caixinha de entrada e saída irá ajudar a não esqueçermos coisas que utilizamos frequentemente em nosso dia-a-dia</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="#">
                <p>Separe uma caixa de papelão</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/numbers/3.png">
                <h2>Como realizar anotações</h2>
                <p>A caixinha de entrada e saída irá ajudar a não esqueçermos coisas que utilizamos frequentemente em nosso dia-a-dia</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="#">
                <p>Separe uma caixa de papelão</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/numbers/4.png">
                <h2>Técnicas de Leitura</h2>
                <p>Compsto Ativo: Metilfenidato</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="#">
                <p>Devido a isto, é muito favorável em alguns casos, especialmente aqueles que sentem efeitos colaterais de taquicardia. </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/numbers/5.png">
                <h2>Lista de Tarefas</h2>
                <p>A caixinha de entrada e saída irá ajudar a não esqueçermos coisas que utilizamos frequentemente em nosso dia-a-dia</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="#">
                <p>Separe uma caixa de papelão</p>
            </div>
        </div>

        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/numbers/6.png">
                <h2>Cronograma de estudo</h2>
                <p>A caixinha de entrada e saída irá ajudar a não esqueçermos coisas que utilizamos frequentemente em nosso dia-a-dia</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="#">
                <p>Separe uma caixa de papelão</p>
            </div>
        </div>
    </ion-content>
</ion-view>
