<ion-view view-title="Lista de Materiais">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        <h2>Briefing</h2>
        <br>
        <p>Aqui iremos nos prepar com algumas ferramentas que irão nos ajudar ao longo do caminho.</p>
        <br>
        <p>Lembrando que tudo aqui é opcional, pois diferentes pesoas se adequam de diferentes formas. Mas faremos o possível para simplificar.
        </p>
      </div>
    </div>
    <ion-list>
      <li class="item item-divider">Materias de Escritório</li>
      <ion-checkbox class="item-text-wrap">1. Papel</ion-checkbox>
      <ion-checkbox class="item-text-wrap">2. Caneta</ion-checkbox>
      <ion-checkbox class="item-text-wrap">3. Caderno sem pauta</ion-checkbox>
      <ion-checkbox class="item-text-wrap">4. Caixinha (caixinha de celular, de papelão etc)</ion-checkbox>
      <ion-checkbox class="item-text-wrap">5. Marcador para quadro branco</ion-checkbox>
      <ion-checkbox class="item-text-wrap">6. Grampeador</ion-checkbox>
      <ion-checkbox class="item-text-wrap">7. Clipes</ion-checkbox>
    </ion-list>
    <br>
    <ion-list class="text-center">
      <li class="item item-divider">Apps</li>
      <ion-item class="item-text-wrap">Evernote
        <br>
        <br>
        <a href="https://itunes.apple.com/au/app/evernote/id281796108?mt=8"><img class="ios-badge" src="img/materials/app-store-badge.png" /></a>
        <a href="https://play.google.com/store/apps/details?id=com.evernote"><img class="android-badge" src="img/materials/google-play-badge.png" /></a>
      </ion-item>
      <ion-item class="item-text-wrap">Google Drive
        <br>
        <br>
        <a href="https://itunes.apple.com/us/app/google-drive-secure-online-file-storage/id507874739?mt=8"><img class="ios-badge" src="img/materials/app-store-badge.png" /></a>
        <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.docs"><img class="android-badge" src="img/materials/google-play-badge.png" /></a>
      </ion-item>
      <ion-item class="item-text-wrap">Calm
        <br>
        <br>
        <a href="https://itunes.apple.com/us/app/calm-meditation-to-relax-focus-sleep-better/id571800810?mt=8"><img class="ios-badge" src="img/materials/app-store-badge.png" /></a>
        <a href="https://play.google.com/store/apps/details?id=com.calm.android"><img class="android-badge" src="img/materials/google-play-badge.png" /></a>
      </ion-item>
      <ion-item class="item-text-wrap">Asana
        <br>
        <br>
        <a href="https://itunes.apple.com/us/app/asana-team-tasks-conversations/id489969512?mt=8"><img class="ios-badge" src="img/materials/app-store-badge.png" /></a>
        <a href="https://play.google.com/store/apps/details?id=com.asana.app"><img class="android-badge" src="img/materials/google-play-badge.png" /></a>
      </ion-item>
      <ion-item class="item-text-wrap">Spotify
        <br>
        <br>
        <a href="https://itunes.apple.com/us/app/spotify-music/id324684580?mt=8"><img class="ios-badge" src="img/materials/app-store-badge.png" /></a>
        <a href="https://play.google.com/store/apps/details?id=com.spotify.music"><img class="android-badge" src="img/materials/google-play-badge.png" /></a>
      </ion-item>
      <ion-item class="item-text-wrap">Fantastical
        <br>
        <br>
        <a href="https://itunes.apple.com/br/app/fantastical-2-for-iphone-calendar-and-reminders/id718043190?mt=8&ign-mpt=uo%3D4"><img class="ios-badge" src="img/materials/app-store-badge.png" /></a>
      </ion-item>
      <ion-item class="item-text-wrap">Scannable
        <br>
        <br>
        <a href="https://itunes.apple.com/us/app/evernote-scannable/id883338188?mt=8"><img class="ios-badge" src="img/materials/app-store-badge.png" /></a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>