<ion-view view-title="Lista de Materiais">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        <h2>Briefing</h2>
        <br>
        <p>Aqui iremos nos preparar com algumas ferramentas que irão nos ajudar ao longo do caminho.</p>
        <br>
        <p>Lembrando que tudo aqui é opcional, pois diferentes pessoas se adequam de diferentes formas. Mas faremos o possível para simplificar.
        </p>
      </div>
    </div>
    <ion-list>
      <li class="item item-divider">Materias de Escritório</li>
      <ion-checkbox class="item-text-wrap">1. Papel</ion-checkbox>
      <ion-checkbox class="item-text-wrap">2. Caneta</ion-checkbox>
      <ion-checkbox class="item-text-wrap">3. Caderno sem pauta</ion-checkbox>
      <ion-checkbox class="item-text-wrap">4. Caixinha (caixinha de celular, de papelão etc)</ion-checkbox>
      <ion-checkbox class="item-text-wrap">5. Marcador para quadro branco</ion-checkbox>
      <ion-checkbox class="item-text-wrap">6. Grampeador</ion-checkbox>
      <ion-checkbox class="item-text-wrap">7. Clipes</ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
