<ion-view view-title="Lista de Materiais">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Aqui iremos nos prepar com algumas ferramentas que irão nos ajudar ao longo do caminho</h2>
                <br>
                <p>Lembrando que tudo aqui é opcional, pois diferentes pesoas se adequam de diferentes formas. Mas faremos o possível para simplificar ;)
                </p>
            </div>
        </div>
        <ion-list>
            <li class="item item-divider">Materias de Escritório</li>
            <ion-checkbox class="item-text-wrap">1. Papel</ion-checkbox>
            <ion-checkbox class="item-text-wrap">2. Caneta</ion-checkbox>
            <ion-checkbox class="item-text-wrap">3. Caderno sem pauta</ion-checkbox>
            <ion-checkbox class="item-text-wrap">4. Caixinha (caixinha de celular, de papelão etc)</ion-checkbox>
            <ion-checkbox class="item-text-wrap">5. Marcador para quadro branco</ion-checkbox>
            <ion-checkbox class="item-text-wrap">6. Grampeador</ion-checkbox>
            <ion-checkbox class="item-text-wrap">7. Clipes</ion-checkbox>
        </ion-list>
        <br>
        <ion-list>
            <li class="item item-divider">Apps</li>
            <ion-checkbox class="item-text-wrap">1. Notas</ion-checkbox>
            <ion-checkbox class="item-text-wrap">2. Fantastical
            </ion-checkbox>
            <div class="item">
                <a href="https://itunes.apple.com/br/app/fantastical-2-for-iphone-calendar-and-reminders/id718043190?mt=8&ign-mpt=uo%3D4">Fantastical para iOS</a>
            </div>
            <ion-checkbox class="item-text-wrap">3. Scannable</ion-checkbox>
            <div class="item">
                <a href="https://itunes.apple.com/us/app/evernote-scannable/id883338188?mt=8">Scannable para iOS</a>
            </div>
            <ion-checkbox class="item-text-wrap">4. Google Drive (ou similares)</ion-checkbox>
            <div class="item">
                <a href="https://itunes.apple.com/us/app/google-drive-secure-online-file-storage/id507874739?mt=8">Google Drive para iOS</a>
            </div>
            <ion-checkbox class="item-text-wrap">5. Calm</ion-checkbox>
            <div class="item">
                <a href="https://itunes.apple.com/us/app/calm-meditation-to-relax-focus-sleep-better/id571800810?mt=8">Calm para iOS</a>
            </div>
            <ion-checkbox class="item-text-wrap">6. Asana</ion-checkbox>
            <div class="item">
                <a href="https://itunes.apple.com/us/app/asana-team-tasks-conversations/id489969512?mt=8">Asana para iOS</a>
            </div>
            <ion-checkbox class="item-text-wrap">7. Spotify</ion-checkbox>
            <div class="item">
                <a href="https://itunes.apple.com/us/app/spotify-music/id324684580?mt=8">Spotify para iOS</a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
