<ion-view view-title="Medicação">
    <ion-content class="padding">
        <h2>Medicação para TDAH</h2>
        <hr>
        <h3>Veja aqui as diferenças entre as medicações mais comuns para TDAH</h3>
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/R.jpg">
                <h2>Ritalina</h2>
                <p>Composto Ativo: Metilfenidato</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/ritalina.jpg">
                <p>Ritalina (metilfenidato) é a alternativa medicamentosa mais comum para TDAH - Déficit de Atenção e hiperatividade. Dúvidas sobre medicação são muito comuns quando se tem suspeita ou um diagnóstico já confirmado de TDAH. Perguntas comuns são: Vou tomar Ritalina? Preciso mesmo tomar o remédio? O remédio vicia? É para sempre? </p>

                <p>Recentemente, tem havido diversas críticas à aumento muito elevado (mais que 1.000% de aumento no Brasil) na prescrição de medicação para crianças, especialmente Ritalina (metilfenidato). Hoje, o Brasil é segundo pais que mais consome Ritalina no mundo. Além disso, o consumo por não-portadores de TDAH, vendas ilegais pela internet, abuso por jovens em baladas ou para melhores resultados em provas ou no trabalho, já assumiram proporções muito assustadoras e se assemelham a outras situações de tráfico de drogas. </p>

                <p>A faixa preta sempre assusta. É uma reação extremamente comum, devido a perguntas não respondidas e falta de informação. É preciso conhecer mais sobre o TDAH em si, todos os tipos de tratamentos medicamentosos e também sem uso de remédios.</p>

                <p>Se fizer tratamento para TDAH com medicação / Ritalina, precisarei fazer outros tratamentos?</p>

                <p>**De um modo geral, tratamentos exclusivamente baseados em medicação, mesmo que tragam efeitos positivos de curto prazo, no médio e longo prazo se mostram insuficientes para atender às necessidades, especialmente com organização, planejamento, cumprimento de prazos, auto-controle, equilíbrio emocional, capacidade de relacionamentos, entre outros. Há uma expressão muito usada a este respeito: "Pilulas não ensinam habilidades".**</p>

                <p>Isto é especialmente verdadeiro no caso de crianças que são diagnosticadas após 10 ou 11 anos de idade ou adultos, que descobrem o TDAH posteriormente. No caso das crianças, devido à distração ou hiperatividade próprias do TDAH, tiveram seu processo de alfabetização comprometido, bem como os primeiros desenvolvimentos do raciocínio lógico-matemático e das capacidades mais incipientes de organização e realização de tarefas. Para os adultos, são anos e anos perdidos, em que bons hábitos, estratégias e padrões comportamentais deixaram de ser consolidados. </p>

                <p>**A medicação atua diretamente sobre o cérebro pela via química, por isto seus efeitos são limitados. Para melhorar sua atenção, concentração, memória e foco de maneira permanente, siga um programa de treinamento cerebral - Ginástica Cerebral e use diariamente estimulação para o cérebro - Brain Entrainment.**</p>

                <p>E por que a medicação não consegue resolver todos os problemas? Habilidades, competências, hábitos e padrões comportamentais são desenvolvidos ao longo dos anos, por processos de aprendizagem e treinamentos (conscientes ou não). Devido às alterações do TDAH, esta aprendizagem - especialmente durante a infância - é comprometida. Quando se introduz a medicação, a capacidade de controle do foco da atenção e outras funções executivas melhoram. Isto, porém, não é suficiente para desenvolver todas as habilidades necessárias nem construir novos hábitos e formas de agir. </p>

                <p>Nestes caso, um tratamento exclusivamente medicamentoso auxilia a minimizar os sintomas do curto prazo - por exemplo, facilitando assim os períodos em sala de aula e reduzindo as queixas da escola ou no trabalho. Contudo, não consegue garantir os igualmente necessários ganhos de longo prazo. No caso do desenvolvimento escolar, o próprio aproveitamento já sofre os efeitos do déficit de conteúdos e competências. Assim, é fundamental entender as necessidades envolvidas e certificar-se que o plano de tratamento levou-as em conta. </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

        </div>
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/C.jpg">
                <h2>Concerta</h2>
                <p>Compsto Ativo: Metilfenidato</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/concerta.png">
                <p>O Concerta é um medicamento para TDAH feito com a mesma substância da Ritalina - o Metilfenidato. O Concerta foi o primeiro remédio para TDAH lançado no Brasil com formulação de longa duração (LA) - que possibilitava tomar apenas uma pílula por dia, ao contrário da Ritalina 10mg, que poderia necessitar de várias doses ao longo do dia. Por isto, representou um grande avanço no tratamento, especialmente para crianças, que poderiam tomar apenas a dose diária maior segurança, sem precisar levar remédio para a escola ou receber cuidados de terceiros. </p>

                <p>É comercializado nas dosagens 18mg, 36mg e 54mg, sempre com formulação de longo alcance. É considerada por muitos como a alternativa menos potente do metilfenidato. Paradoxalmente, os efeitos do Concerta 18mg ou até mesmo 36mg são mais "suaves", menos perceptíveis que da Ritalina 10mg. Isto devido ao processo único da sua empresa farmacêutica, que faz com que a liberação da droga - e portanto, sua entrada na corrente sanguínea - seja bem mais lenta. </p>

                <p>Devido a isto, é muito favorável em alguns casos, especialmente aqueles que sentem efeitos colaterais de taquicardia, dor de cabeça ou aperto no peito muito intensos. Já para outras pessoas, há reclamação que o Concerta não faz efeito, que é fraco demais. </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

        </div>
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/V.png">
                <h2>Venvanse</h2>
                <p>Composto Ativo: Lisdexanfetamina</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/venvanse.jpg">
                <p>Até aproximadamente 2012, o tratamento medicamentoso do TDAH no Brasil era quase que exclusivamente feito por meio da droga psicoestimulante Metilfenidato. A comercialização é feita por duas grandes indústrias farmacêuticas, com os nomes comerciais de Ritalina e Concerta. Já nos Estados Unidos, desde muito tempo há disponível uma gama bem maior de substâncias, muitas delas da família das anfetaminas. </p>

                <p>As anfetaminas são drogas muito potentes (bem mais que o metilfenidato, substância principal da Ritalina), muito conhecidas por suas capacidades de inibir o apetite e diminuir drásticamente o sono. Assim como o metilfenidato, atuam diretamente sobre o neurotransmissor dopamina, por isto seus efeitos de maior energia, euforia, concentração, redução do sono, apetite e cansaço.</p>

                <p>Contudo, justamente por estas características e maior potência, seu risco de abuso e dependência é maior. Além disto, os riscos cardiovasculares são graves, inclusive de morte súbita. Recentemente, os inibidores de apetite baseados em anfetaminas foram proibidos pela Anvisa.</p>

                <p>Sabe-se, contudo, que apesar da proibição, o mercado negro das anfetaminas se mantém bem acelerado. Junto com a cocaína (outro psicoestimulante), é a droga mais usada pelos caminhoneiros e motoristas (conhecidas como "rebite"), para conseguir permanecer acordado, dirigindo a noite. </p>

                <p>Segundo a bula do Venvanse, fabricado pelo Laboratório Shire, ele deve ser usado como parte de um programa total de tratamento, que pode incluir aconselhamento psicológico ou outras terapias. Na bula, o laboratório adverte: “As anfetaminas têm sido alvo de extenso uso abusivo. Tolerância, dependência psicológica extrema e incapacidade social grave ocorreram. Há relatos de pacientes que aumentaram a dose muito acima dos níveis recomendados”. </p>

                <p>Ainda na linha das advertências, segue o laboratório: “O abuso deste medicamento pode causar dependência. O uso indevido de anfetaminas pode causar morte súbita e eventos adversos cardiovasculares graves”. Com relação a efeitos colaterais, ele pode causar redução do apetite, problemas para dormir, dor de cabeça, perda de peso e boca seca. Justamente por isto, tem sido frequentes relatos de seu consumo como substituto dos inibidores de apetite, agora proibidos. </p>

                <p>Além de ser uma droga mais potente que a Ritalina e o Concerta, o Venvanse é também vendido em dosagens mais elevadas. Enquanto a dosagem máxima da Ritalina é 40mg e do Concerta é 50mg por comprimido, o Venvanse tem as dosagens de 30mg, 50mg e até 70mg. </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>
