<ion-view view-title="Organização">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Briefing</h2>
                <br>
                <p>Aqui iremos demonstrar técnicas de organização para utilizarmos em nosso dia-a-dia</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider bar bar-header bar-energized">
                Regra de Ouro
            </div>
            <div class="item item-text-wrap">Não importa se é no trabalho, na escola ou em casa.<br>Cada coisa deve ter o seu lugar!</div>
        </div>
        <div class="list card">
            <div class="item item-avatar item-text-wrap">
                <img src="img/numbers/1.png">
                <h2>Calendário</h2>
                <p>Aprender a utlizar o calendário irá nos ajudar a organizar nosso tempo disponível além de auxiliar na programação das possíveis tarefas futuras</p>
            </div>
            <div class="item item-body">
                <ion-list>
                    <ion-checkbox class="item-text-wrap">1. Insira todos seus compromissos fixos<br>Ex. (Trabalho, aula de Inglês, faculdade etc)</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">2. Agora preencha todas as informações adicionais<br>Ex. (Endereço, repetições, alarmes etc)</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">3. Defina uma cor para cada categoria de evento</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">4. Agora iremos criar essas mesmas categorias com as mesmas cores em nossa lista de tarefas (TO-DO)</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">5. Insira Categorias de lembretes recorrentes<br>Ex. (Pagamento de contas, agendar corte de cabelo, comprar ração etc)</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">6. Pronto, agora podemos começar a montar nossa rotina.</ion-checkbox>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar item-text-wrap">
                <img src="img/numbers/2.png">
                <h2>Definição de rotina</h2>
                <p>Agora que já temos uma noção visual de nossos compromissos, iremos demonstrar técnicas de organização para utilizarmos em nosso dia-a-dia<br>Tente realizar está parte sob o efeito da medicação e lembre-se que se você escolheu aquele horário sob o efeito da medicação qualquer outra razão que você tenha para não cumprila será menos inteligente, acredite.</p>
            </div>
            <div class="item item-body">
                <ion-list>
                    <ion-checkbox class="item-text-wrap">1.Para estipularmos os horários da nossa rotina é importante saber quanto tempo levamos para cada atividade.<br>Marque em uma folha de papel quanto tempo cada atividade de rotina leva em média (Não se apresse para concluir a tarefa só por que o tempo está rolando, iremos ajustar os horários posteriormente)</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">2. Estipule um horário para dormir e para acordar, tente respeitar o período sugerido de 8h por dia</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">3. Configure seu alarme para sempre despertar no mesmo horário e outro com 1h de antecedencia a hora que deseja estar dormindo</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">4. Configure alarmes para tomar a medicação</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">5. É isso, agora vamos ajustar nossos ambientes.</ion-checkbox>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar item-text-wrap">
                <img src="img/numbers/3.png">
                <h2>Ambiente</h2>
                <p>O ambiente de trabalho, estudo e lazer é de fundamental influencia no desempenho de pessoas com TDAH</p>
            </div>
            <div class="item item-body">
                <ion-list>
                    <ion-checkbox class="item-text-wrap">1. Uma hora antes de dormir tente reduzir as luzes de casa, brilho da tela do celular, e se possível utilizar luzes amarelas pois elas ajudam a induzir o corpo a relaxar.</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">2. Seu ambiente de estudo/trabalho deve estar limpo.</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">3. Caso se sinta empacado, tente mudar o ambiente que está realizando a tarefa.</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">4. Agora vamos ver um pouco mais detalhadamente algumas técnicas de organização.</ion-checkbox>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar item-text-wrap">
                <img src="img/numbers/4.png">
                <h2>Caixinha de entrada e saída</h2>
                <p>a caixinha de entreda e saída é essencial para minimizar os esquecimentos do dia-a-dia</p>
            </div>
            <div class="item item-body">
                <ion-list>
                    <ion-checkbox class="item-text-wrap">1. Separe uma caixinha qualquer<br>Ex. (caixinha de papelão, caixinha de celular etc)</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">2. Posicione ela em um local que você sempre passe ao entrar ou sair de casa ou do escritório<br>Ex. (Próximo a porta de entrada, mesinha perto da porta do quarto etc)</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">3. Sempre que chegar esvazie seus bolsos e coloque tudo na caixinha<br>Ex. (carteira, chave do carro, lenços, moedas, celular, crachá, cartões etc)</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">4. Agora quarde coisas móveis como moedas, cartões etc e mantenha na caixinha somente o que for utlizar quando sair novamente</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">5. Criando este hábito ficará mais fácil de termos tuo que precisamos em mão todo dia</ion-checkbox>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar item-text-wrap">
                <img src="img/numbers/5.png">
                <h2>Gavetas</h2>
                <p>A organização das gavetas de casa e do escritório são ótimas para organizarmos nossos documentos</p>
            </div>
            <div class="item item-body">
                <ion-list>
                    <ion-checkbox class="item-text-wrap">1. Crie caixinha dentro de suas gavetas, cada caixinha irá servir para uma categoria<br>Ex. (chaves reservas, medicamentos, produtos de uso diário, estojo com material de escritório etc)</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">2. Separe um espaço para colocarmos algumas pastas que ficarão de fácil acesso e outro que terá a intenção de ser um arquivo</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">3. Organize suas caixinhas de uma forma que você entenda !</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">4. Agora vamos a organização dos documentos</ion-checkbox>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar item-text-wrap">
                <img src="img/numbers/6.png">
                <h2>Organização de documentos</h2>
                <p>Ter documentos em ordem é essencial para agiliazar cadastros e solicitações que nos são solicitados diariamente</p>
            </div>
            <div class="item item-body">
                <ion-list>
                    <ion-checkbox class="item-text-wrap">1. Separe várias pastas plásticas e separe os documentos que você utiliza no dia-a-dia nelas<br>Não se esqueça de utilizar o sistema de color code para auxiliar na identificação</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">2. Imprima uma capa para cada pasta com uma imagem que lhe faça referencia imediata ao conteúdo nela inserido</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">3. Faça o mesmo procedimento para documentos que usamos com menos frequencia, podemos até utilizar pastas maiores para organiza-los<br>Ex. (documentos do veículo, certidões, diplomas, certificados, comprovantes etc </ion-checkbox>
                    <ion-checkbox class="item-text-wrap">4. O que não for necessário jogque fora e reduzar o volume de documentos</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">5. Ufa... Agora vamos para a última parte onde poderemos acessar tudo de qualquer lugar</ion-checkbox>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar item-text-wrap">
                <img src="img/numbers/7.png">
                <h2>Organização Digital</h2>
                <p>Ter acesso a todos seus documentos de qualquer lugar que esteja é uma comodidade um tanto quanto indispensavel nos dias de hoje</p>
            </div>
            <div class="item item-body">
                <ion-list>
                    <ion-checkbox class="item-text-wrap">1. Crie um serviço de armazenamento na nuvem como o Google Drive</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">2. Configure em todos seus dispositivos, Computadorres, celulares tablets etc</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">3. Organize suas pastas digitais igual as pastas física </ion-checkbox>
                    <ion-checkbox class="item-text-wrap">4. Crie uma pasta de Scans, essa será uma pasta de tranferencia para enviarmos documentos rapidamente para a nuvem para se perdemos a cópia física ou se posteriormente formos organizar estes documentos em seus devidos lugares </ion-checkbox>
                    <ion-checkbox class="item-text-wrap">5. Scaneie com o Scannable todos seus documentos</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">6. O que não for necessário manter uma cópia em papel, jogue fora !</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">7. Configure as tags ou cores de suas pastas digitais igual as pastas físicas</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">8. Após esse extensivo processo terminamos as dicas de utilização</ion-checkbox>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
