<ion-view view-title="Saúde">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Briefing</h2>
                <br>
                <p>Aqui iremos demonstrar habitos mais saudaveis para utilizarmos em nosso dia-a-dia</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider bar bar-header bar-energized">
                Regra de Ouro
            </div>
            <div class="item item-text-wrap">Não se cobre excessivamente, devemos sempre buscar o equilíbrio.<br>A mudança de hábito leva tempo e exforço mental, sua mente controla seu corpo !</div>
        </div>
        <div class="list card">
            <div class="item item-avatar item-text-wrap">
                <img src="img/numbers/1.png">
                <h2>Alimentação</h2>
                <p>A alimentação é fundamental em como nosso corpo se comporta.Nós somos o que comemos, apesar de cliche é a mais pura verdade.</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="#">
                <ion-list>
                    <ion-checkbox class="item-text-wrap">1. Alimentos mais saúdaveis serão benéficos para você e para o seu corpo</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">2. Reduza o açucar e o sal em seu consumo diário. Reduza não precisa bitolar e cortar tdo de uma vez, o hábito é um processo.</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">3. Diminua a quantidade de alimentos industrializados consumidos<br>Ex. (miojo, congelados, sucos em caixinha)</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">4. Não mantenha trash food a vista.</ion-checkbox>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar item-text-wrap">
                <img src="img/numbers/2.png">
                <h2>Meditação</h2>
                <p>A meditação auxilia na concentração do pensamento, podemos utilizar o Calm para nos guiar através deste processo. Imagina se você pudesse escolher o que sente.</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="#">
                <ion-list>
                    <ion-checkbox class="item-text-wrap">1. Tente realizar a meditação ao começar seu dia, após o café por exemplo. Ela será mais eficaz quando feita pela manhã, acredite.</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">2. Começe por baixo com 3 minutos</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">3. Não julgue, a meditação é para que você perceba sensações e sentimentos que passam desapercebidos na correria do dia-a-dia</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">4. Atitudes positivas geram reações positivas.</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">5. Você não precisa estar parado, sentado ou em posição de lotus para meditar o importante é você se concentrar no que está sendo proposto em cada sessão</ion-checkbox>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar item-text-wrap">
                <img src="img/numbers/3.png">
                <h2>Procrastinação</h2>
                <p>Procrastinação é a palavra que todo TDAH ama. Nós adoramos procrastinar, por que deixar para amanhã o que eu posso fazer na semana que vem ?</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="#">
                <ion-list>
                    <ion-checkbox class="item-text-wrap">1. Estipule metas atingiveis sempre !</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">2. Não se decepcione caso não atinga o que foi planejado, analise e descubra onde foi que o erro ocorreu.</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">3. O relógio é seu amigo, utilize-o com sabedoria</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">4. Lembre-se de suas ancoras</ion-checkbox>
                    <ion-checkbox class="item-text-wrap">5. Tem muita coisa que você ainda não sabe, vai enrrolar para descobrir tudo isso ?</ion-checkbox>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
