<ion-view view-title="Estudos">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        <h2>Briefing</h2>
        <br>
        <p>Aqui iremos demonstrar técnicas de estudo para utilizarmos em nosso dia-a-dia</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider bar bar-header bar-energized">
        Regra de Ouro
      </div>
      <div class="item item-text-wrap">Faça o uso de uma âncora<br>Se você não tiver uma razão real ou um objetivo para estudar suas tarefas serão chatas e infinitamente tediosas!</div>
    </div>
    <div class="list card">
      <div class="item item-avatar item-text-wrap">
        <img src="img/numbers/1.png">
        <h2>Motivação</h2>
        <p>Aqui vamos auxiliar no principal fundamento de tudo, a motivação</p>
      </div>
      <div class="item item-body">
        <ion-list>
          <ion-checkbox class="item-text-wrap">1. Busque em sua mente algo que lhe faça ir além. ALguma coisa que te motiva a concluir aquela tarefa<br>Ex. (Uma menina na escola que você gosta (ou uma mulher na faculdade kkk normalmente funciona),seus pais, a necessidade de aprender algo
            para ajudar alguém, o desejo de crescer etc )</ion-checkbox>
          <ion-checkbox class="item-text-wrap">2. Inicialmente pode ser dificil encontrar alguma coisa tão preciosa assim dado que o tdah não se apega muito as coisas, porém podemos ter diferentes ancoras</ion-checkbox>
          <ion-checkbox class="item-text-wrap">3. Defina um incentivo para cada atividade</ion-checkbox>
          <ion-checkbox class="item-text-wrap">4. A ancora pode ser algo tail ou não porém é importante que ela esteja 100% conectada com seus reais motivos</ion-checkbox>
        </ion-list>
      </div>
    </div>
    <div class="list card">
      <div class="item item-avatar item-text-wrap">
        <img src="img/numbers/2.png">
        <h2>Utilizando o Caderno</h2>
        <p>Devido a desatenção o tdah por diversas vezes pode esquecer de anotar algo ou por causa da hiperatividade simplesmente achar tedioso o processo.</p>
      </div>
      <div class="item item-body">
        <ion-list>
          <ion-checkbox class="item-text-wrap">1. O caderno sem pauta irá servir como uma forma de liberdade, nele você poderá </ion-checkbox>
          <ion-checkbox class="item-text-wrap">2. Utilize cada caderno para duas coisas. Se você virar ele ao contrário e de cima para baixo verá que você agora tem duas frentes !</ion-checkbox>
          <ion-checkbox class="item-text-wrap">3. Cole post-it indicativos para lembrar de alguma coisa</ion-checkbox>
          <ion-checkbox class="item-text-wrap">4. Não tenha medo de rabiscar, o importante é que você lembre o que anotou quando olhar novamente</ion-checkbox>
          <ion-checkbox class="item-text-wrap">5. Agora vamos as técnicas</ion-checkbox>
        </ion-list>
      </div>
    </div>
    <div class="list card">
      <div class="item item-avatar item-text-wrap">
        <img src="img/numbers/3.png">
        <h2>Como realizar anotações</h2>
        <p>Papel e caneta são seus amigos !</p>
      </div>
      <div class="item item-body">
        <ion-list>
          <ion-checkbox class="item-text-wrap">1. Faça mapas mentais </ion-checkbox>
          <ion-checkbox class="item-text-wrap">2. Desenhos que lhe remetem a idéia de algo</ion-checkbox>
          <ion-checkbox class="item-text-wrap">3. Utilize setas para ligar as idéias mesmo que elas corram a folha inteira</ion-checkbox>
          <ion-checkbox class="item-text-wrap">4. Faça listas com itens e sub itens para entender um concieito</ion-checkbox>
          <ion-checkbox class="item-text-wrap">4. Não se preocupe com a gramatica, a grafia ou com a lingua em que irá escrever. O importante é tranferir a idéia rapidamente para o papel.</ion-checkbox>
        </ion-list>
      </div>
    </div>
    <div class="list card">
      <div class="item item-avatar item-text-wrap">
        <img src="img/numbers/4.png">
        <h2>Técnicas de Leitura</h2>
        <p>Ler para quem tem TDAH é quase uma técnica de tortuna Nazista. Mas aqui vamos ensinar algumas coisinha que irão te ajudar a superar esse trauma.</p>
      </div>
      <div class="item item-body">
        <ion-list>
          <ion-checkbox class="item-text-wrap">1. Utilize audiobooks e acompanhe no livro simultaneamente. Caso faça quaisquer uma das tarefas separadas a chance de "voar"é bem maior. </ion-checkbox>
          <ion-checkbox class="item-text-wrap">2. Separe sua leitura por tópicos</ion-checkbox>
          <ion-checkbox class="item-text-wrap">3. Utilize a técnica adequada para cada tipo de leitura</ion-checkbox>
          <ion-checkbox class="item-text-wrap">4. Skimming - Você passa rapidamente sobre todo o texto para ter uma idéia geral do conteúdo. Nessa técnica é natural não lermos todas as palavras do texto.</ion-checkbox>
          <ion-checkbox class="item-text-wrap">5. Scanning - Seus olhos irão percorrer o texto para buscar uma palavras ou sinonimo que você esteja buscando. Normalmente utilizamos o scanning após o skimming</ion-checkbox>
          <ion-checkbox class="item-text-wrap">6. Ancoras no texto - Desenhe figuras que lhe remetam a idéia de um paragrafo ou de um pedaço do texto.</ion-checkbox>
          <ion-checkbox class="item-text-wrap">7. Utilize marcadores de texto para marcar algo que você queira usar novamente ou que acha que irá esquecer.</ion-checkbox>
        </ion-list>
      </div>
    </div>
    <div class="list card">
      <div class="item item-avatar item-text-wrap">
        <img src="img/numbers/5.png">
        <h2>Lista de Tarefas</h2>
        <p>Aqui vamos abordar os to-dos. Eles são ótimos auxiliares em um processo de workflow. Na versão digital o Asana ou o Trello são ótimos ajudantes para a realização destas listas</p>
      </div>
      <div class="item item-body">
        <ion-list>
          <ion-checkbox class="item-text-wrap">1. Crie uma lista para cada matéria ou assunto. </ion-checkbox>
          <ion-checkbox class="item-text-wrap">2. Separe com as mesmas cores das pastas que irão conter os arquivos referentes a este assunto</ion-checkbox>
          <ion-checkbox class="item-text-wrap">3. Não importa aonde você crie mas crie. Por menos que seja a tarefa ela deve sair e deixar de ocupar espaço na sua mente e ser gerenciada pelo papel, app, vidro, janela, quadro branco etc</ion-checkbox>
          <ion-checkbox class="item-text-wrap">4. Pomodoro Technique, utilize a técnica do Pomodoro para cumprir suas tarefas com mais eficacia</ion-checkbox>
        </ion-list>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar item-text-wrap">
        <img src="img/numbers/6.png">
        <h2>Cronograma de estudo</h2>
        <p>Vamos montar seu planejamento</p>
      </div>
      <div class="item item-body">

        <ion-list>
          <ion-checkbox class="item-text-wrap">1. Tendo em vista que sua agenda já esteja organizada, separe horário de estudo. Eles devem ser em momentos que você está preparado para realizar bastante mental.</ion-checkbox>
          <ion-checkbox class="item-text-wrap">2. Não coloque em horários que você sabe que não vai cumprir.</ion-checkbox>
          <ion-checkbox class="item-text-wrap">3. Divida suas tarefas em pequenas porções ao longo da semana</ion-checkbox>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>