<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <!--
        <h2>Welcome to Ionic</h2>
        <p>
        This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>
    <p>
    To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
</p>
<p>
If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
</p>
<p>
<b>Psst!</b> - Try <a href="http://view.ionic.io/">Ionic View</a> to easily share and test your app with clients and co-workers.
</p>
-->
<h2>Teste de TDAH</h2>
<hr>
<h3>1. POOR ATTENTION TO DETAIL</h3>
<p>I often make small mistakes in my work. I skim read. I tend to rush things. </p>

<p>I mess up dates, get numbers wrong, or fail to notice typos. </p>

<p>I often overlook details in filling out forms, or forget to add attachments to emails. </p>

<p>I tend to make simple errors because I’m not paying attention.</p>
<ion-list>
    <ion-radio ng-model="choice" ng-value="'A'">Sim</ion-radio>
    <ion-radio ng-model="choice" ng-value="'B'">Não</ion-radio>
</ion-list>
<h3>2. I AM EASILY DISTRACTED.</h3>
<p>I find it difficult to stick with longer tasks. Even leisure activities.</p>

<p>I may go off to do something else. Or I end up doing several things at once. </p>

<p>I struggle to follow through on complex tasks. Short deadlines work best for me. </p>
<ion-list>
    <ion-radio ng-model="choices2" ng-value="'C'">Sim</ion-radio>
    <ion-radio ng-model="choices2" ng-value="'D'">Não</ion-radio>
</ion-list>
<h3>3. POOR LISTENER.</h3>
<p>I find I am easily distracted during longer conversations. I tend to tune out. </p>

<p>I often miss what’s being said. So I have to ask people to repeat themselves. </p>

<p>Sometimes, I even lose track of what I’m saying, or I go off on tangents. </p>
<ion-list>
    <ion-radio ng-model="choices2" ng-value="'C'">Sim</ion-radio>
    <ion-radio ng-model="choices2" ng-value="'D'">Não</ion-radio>
</ion-list>
<h3>4. DON’T FOLLOW INSTRUCTIONS. </h3>
<p>I prefer to jump right in, rather than read through instructions, guides, or recipes. </p>

<p>I don’t have regular routines at work or home. I struggle with schedules or plans. </p>

<p>I’m not being obstinate. I know what to do, I just can’t seem to do it.
</p>
<ion-list>
    <ion-radio ng-model="choices2" ng-value="'C'">Sim</ion-radio>
    <ion-radio ng-model="choices2" ng-value="'D'">Não</ion-radio>
</ion-list>
<h3>5. I FEEL DISORGANIZED.</h3>
<p>I have trouble organizing my work schedule, social life, and family obligations. </p>

<p>I create long To-Do lists then find them overwhelming. </p>

<p>Planning a big project feels daunting. </p>
<p>I procrastinate because I can’t see where to start, or figure out what I need. </p>

<ion-list>
    <ion-radio ng-model="choices2" ng-value="'C'">Sim</ion-radio>
    <ion-radio ng-model="choices2" ng-value="'D'">Não</ion-radio>
</ion-list>
<h3>6. I AVOID TASKS THAT REQUIRE SUSTAINED MENTAL EFFORT. </h3>
<p>I struggle to finish things that demand a lot of focus for a long period of time. Other times I get ‘in the zone’ and hyper-focus.
</p>

<p>I avoid routine tasks that feel monotonous, repetitive, or boring.
</p>

<p>When faced with a big, important task, I will do a bunch of trivial chores instead. I hate paperwork.
</p>
<ion-list>
    <ion-radio ng-model="choices2" ng-value="'C'">Sim</ion-radio>
    <ion-radio ng-model="choices2" ng-value="'D'">Não</ion-radio>
</ion-list>
<h3>7. OFTEN LOSE THINGS I NEED.
</h3>
<p>I often misplace things like my phone, keys, or TV remote. “I just had it a minute ago!!”
</p>

<p>I often lose important paperwork, or cannot find something I just bought. </p>

<p>My home or workspace is cluttered, piles everywhere. Things have to be out where I can see them, otherwise I worry that I’ll forget about them. </p>
<ion-list>
    <ion-radio ng-model="choices2" ng-value="'C'">Sim</ion-radio>
    <ion-radio ng-model="choices2" ng-value="'D'">Não</ion-radio>
</ion-list>
<h3>8. EASILY DISTRACTED</h3>
<p>I’m easily distracted by conversations, noises, or activities happening around me.
</p>

<p>I’m often lost in thought, my mind will be far away, imagining interesting ideas, situations, or conversations.
</p>

<p>I’m pretty smart, but a bit absentminded. I’ve been called a ‘day-dreamer.’
</p>
<ion-list>
    <ion-radio ng-model="choices2" ng-value="'C'">Sim</ion-radio>
    <ion-radio ng-model="choices2" ng-value="'D'">Não</ion-radio>
</ion-list>
<h3>9. FORGETFUL
</h3>
<p>I often lose track of what I’m supposed to be doing, or what I’ve already done.
</p>

<p>I’ll forget to pack something and have to go back. I’m bad with names.
</p>

<p>I forget appointments or promises.
</p>


<p>When I am alone I talk out loud to myself to stay on track. I have sticky-notes everywhere. I’ve bought things and then realized I already owned one. </p>
<ion-list>
    <ion-radio ng-model="choices2" ng-value="'C'">Sim</ion-radio>
    <ion-radio ng-model="choices2" ng-value="'D'">Não</ion-radio>
</ion-list>
<hr>
<h2>Fim da parte 01</h2>
<p>That’s the 9 Inattention Symptoms – you’ve finished Part 1! </p>
<p>Your total is: 9 out of 9 </p>
<p>A score of 5 or higher suggests INATTENTION is a problem for you.</p>
<p> While most people struggle with some of these symptoms, that doesn’t mean they have ADHD. They could be stressed by major life events or any number of medical issues.</p>
<p> But your score suggests that a full assessment by a specialist who understands ADHD might be in order. About 4 to 5% of adults are struggling with focus, distraction, and attention. These challenges undermine their goals and good intentions in many areas of life—despite all their best efforts.</p>
<p> Now let’s look at Hyperactivity (6 questions) and Impulsivity (3 questions)—problem areas for many adults with ADD—and see what else we can learn.

</p>
<button class="button button-positive">
    Ir para a parte 2 </button>
    <button class="button button-energized">
        Fazer a parte 01 novamente
    </button>
    <hr>
    <h2>Parte 02</h2>
    <p>You probably don’t bounce around like a hyperactive child, but perhaps you often feel restless. Driven. Like there’s a dynamo inside you.</p>

    <p>Maybe you’re impatient. On the go. Thoughts race, sometimes tumbling, ricocheting as you pour out one idea after another.</p>

    <p>You may crave excitement and trying new things. Or love highly stimulating activities with a big pay off.</p>

    <p>Let’s take a look at Hyperactivity…</p>

    <button class="button button-balanced">
        Iniciar a parte 02
    </button>
    <h3>1. PHYSICALLY RESTLESS. FIDGETY.</h3>
    <p>I grow fidgety during meetings, classes, or church. I can become antsy during long conversations.
    </p>

    <p>I fidget with keys, bracelets, coins, and pens. Twirl my hair. Doodle. These things help me focus and listen.
    </p>

    <p>I tap my foot or bounce a leg with my pent up energy. Constantly shifting in my seat. Rocking. Tilting my chair way back when I’m thinking. </p>

    <ion-list>
        <ion-radio ng-model="choice" ng-value="'A'">Sim</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Não</ion-radio>
    </ion-list>
    <h3>2. PHYSICALLY RESTLESS. FIDGETY.</h3>
    <p>I grow fidgety during meetings, classes, or church. I can become antsy during long conversations.</p>

    <p>I fidget with keys, bracelets, coins, and pens. Twirl my hair. Doodle. These things help me focus and listen.</p>

    <p>I tap my foot or bounce a leg with my pent up energy. Constantly shifting in my seat. Rocking. Tilting my chair way back when I’m thinking.</p>

    <ion-list>
        <ion-radio ng-model="choice" ng-value="'A'">Sim</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Não</ion-radio>
    </ion-list>
    <h3>3. RESTLESS</h3>
    <p>I am impatient or agitated when things are quiet.
    </p>

    <p>I feel rushed, pressured, or driven, even doing something that isn’t urgent.
    </p>

    <p>I have had frequent job changes, or moved frequently.
    </p>

    <ion-list>
        <ion-radio ng-model="choice" ng-value="'A'">Sim</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Não</ion-radio>
    </ion-list>
    <h3>4. DIFFICULTY ENJOYING LEISURE ACTIVITIES QUIETLY
    </h3>
    <p>I find it hard to relax or work quietly. Small talk is boring. I always have to be trying new things or changing them up.
    </p>

    <p>I’m always pushing the envelope, tweaking, and adjusting. “What if we do it this way instead?”
    </p>

    <p>I find myself stirring things up. Teasing.
    </p>
    <p>I often drawing attention to myself. I can be ‘over the top.’ Center of attention. Some would say I’m a bit immature, or prone to drama. “Everything’s a big deal with me.”
    </p>
    <ion-list>
        <ion-radio ng-model="choice" ng-value="'A'">Sim</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Não</ion-radio>
    </ion-list>
    <h3>5. ALWAYS ON THE GO. DRIVEN.
    </h3>
    <p>It often seem like I’m always on the go, driven by a motor.

    </p>

    <p>I’m drawn to one hobby or obsession after another.

    </p>

    <p>I have more stamina and enthusiasm than anyone else if it’s something I find interesting. I dive in whole hog, like a whirling dervish, with tons of energy. But then suddenly crash.

    </p>
    <p>I’m more of a sprinter than a marathoner.
    </p>
    <ion-list>
        <ion-radio ng-model="choice" ng-value="'A'">Sim</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Não</ion-radio>
    </ion-list>
    <h3>6. NOT RUDE. BUT TALKATIVE </h3>
    <p>I always have lots to say, but I’m not so great at listening. I can be an enthusiastic chatterbox who just can’t stop. If someone else tries to speak I get louder because I feel pressure to get it out.
    </p>

    <p>I tend to dominate conversations, telling great stories, but rarely learning anything about anyone else. I always have to top or match someone else’s story.
    </p>

    <ion-list>
        <ion-radio ng-model="choice" ng-value="'A'">Sim</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Não</ion-radio>
    </ion-list>
    <h4>Congrats! You’ve completed the questions on Hyperactivity. Just three more to go, exploring Impulsivity. </h4>
    <h3>7. BLURTING OUT.
    </h3>
    <p>I am full of ideas – my mind jumps and races ahead. I don’t sit quietly and consider, but immediately offer one idea or opinion after another.
    </p>

    <p>I may seem impatient or dominating, always adding my two cents, having to contribute my ideas… and I have lots of them.
    </p>

    <p>I’m instantly enthusiastic and interested in new challenges. I say yes to everything, then end up overwhelmed with commitments. s </p>

    <ion-list>
        <ion-radio ng-model="choice" ng-value="'A'">Sim</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Não</ion-radio>
    </ion-list>
    <h3>8. WAITING MY TURN IS FRUSTRATING
    </h3>
    <p>I hate line-ups. Or waiting for other people to arrive. </p>

    <p>I will move from one checkout line to another seeking the fastest cashier. </p>

    <p>I’ll go out of my way to avoid slow traffic… Or long conversations. </p>

    <p>I can’t stand people who speak slowly. Small talk is painfully boring. </p>

    <p>A friend who asks the waitress about every item on the menu makes me crazy. </p>

    <p>I hate waiting for other people to arrive. I can’t just sit back and relax.</p>
    <ion-list>
        <ion-radio ng-model="choice" ng-value="'A'">Sim</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Não</ion-radio>
    </ion-list>
    <h3>9. I INTERRUPT AND INTRUDE ON OTHERS.
    </h3>
    <p>I interrupt, chime-in or intrude into other people’s conversation.
    </p>

    <p>I feel the need to top someone’s story. Or add your two-cents. I always have an opinion. Or an idea you feel the need to share?. (And yes, they may well be great ideas.)
    </p>

    <p>Answer Yes if these are familiar challenges. Perhaps you don’t see it, but others have mentioned it to you?
    </p>

    <ion-list>
        <ion-radio ng-model="choice" ng-value="'A'">Sim</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Não</ion-radio>
    </ion-list>
    <hr>
    <h2>Fim da parte 01</h2>
    <p>Your total score for Hyperactivity & Impulsivity is 9 out of 9</p>

    <p>For Hyperactivity and Impulsivity, the threshold score is 5 or more.</p>


    <p>The Predominantly Combined Subtype of ADHD</p>

    <p>For Hyperactivity and Impulsivity, the threshold score is 5 or more, so your score suggests Hyperactivity and Impulsivity may be issues for you.</p>

    <p>Since you also scored 5 or more in Part 1 (Attention), this suggests you may have what is called the Predominantly Combined Subtype of ADHD. This is the most common type of ADHD.</p>

    <p>So, where do you go from here? Learning more about ADHD is the first step.</p>
    <button class="button button-positive">
        Explore Recursos e próximos passos </button>
        <button class="button button-energized">
            Faça o teste novamente
        </button>
    </ion-content>
</ion-view>
