<ion-view view-title="Guia">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" href="#/tab/guide/diagnostics">
        01. Diagnósticos
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" href="#/tab/guide/informations">
        02. Informações
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" href="#/tab/guide/materials">
        03. Lista de Materiais
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" href="#/tab/guide/organization">
        04. Organização
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" href="#/tab/guide/studies">
        05. Estudos
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" href="#/tab/guide/health">
        06. Saúde
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" href="#/tab/guide/medications">
        07. Medicações
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
