<ion-view view-title="Ajuda">
    <ion-content class="padding">
        <div class="card">
            <h2 class="text-center">Como Funciona ?</h2>
            <div class="item item-text-wrap">
                <p>
                    Neste app iremos auxiliar você a identificar a possível presença de TDAH em adultos e crianças, além de ensinar algumas técnicas que poderão facilitar o gerenciamento da doença, além de poder auxiliar os pais a lidarem de uma forma mais adequada com .
                </p>
                <p>
                    Para que isso aconteça listamos de forma fácil todos os itens a serem seguidos na aba <strong>Guia</strong>. Lembrando que o conteúdo pode ser utilizado independente de sua posição, estipulamos essa ordem apenas como sugetão.
                </p>
                <p>
                    Na aba
                    <strong>Emoção</strong> você poderá identificar seu humor atual e receber recomendações conforme o momento atual.
                </p>
                <p>Aliás vale lembrar que tudo que você encontrar aqui é opcional e algumas tarefas podem levar tempo pois se tratam de mudanças de habitos !</p>
                <p>Preparado ?</p>
                <p>Então vamos lá !</p>
                <p>Toque no ícone <strong>Guia</strong> para começar</p>
            </div>
        </div>
        <div class="card">
            <h2 class="text-center">Glossário</h2>
            <div class="item item-text-wrap">
                <div class="list">

                    <h2>TDAH</h2>
                    <p>Transtorno do Déficit de Atenção com Hiperatividade</p>

                </div>

            </div>
            <div class="item item-text-wrap">
                <div class="list">

                    <h2>DDA</h2>
                    <p>Distúrbio do Déficit de Atenção</p>

                </div>

            </div>
            <div class="item item-text-wrap">
                <div class="list">

                    <h2>Âncora</h2>
                    <p>Algo estipulado por cada pessoa para se manter motivado</p>

                </div>

            </div>

        </div>
    </ion-content>
</ion-view>
