<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="card">
      <h2 class="text-center">Bem-Vindo!</h2>
      <div class="item item-text-wrap">
        <p>
          Neste app iremos auxiliar você a identificar a possível presença de TDAH em adultos e crianças, além de ensinar algumas técnicas que poderão facilitar o gerenciamento da doença, além de poder auxiliar os pais a lidarem de uma forma mais adequada com .
        </p>
        <p>
          Para que isso aconteça listamos de forma fácil todos os itens a serem seguidos na aba <strong>Guia</strong>. Lembrando que o conteúdo pode ser utilizado independente de sua posição, estipulamos essa ordem apenas como sugetão.
        </p>
        <p>
          Na aba
          <strong>Emoção</strong> você poderá identificar seu humor atual e receber recomendações conforme o momento atual.
        </p>
        <p>Aliás vale lembrar que tudo que você encontrar aqui é opcional e algumas tarefas podem levar tempo pois se tratam de mudanças de habitos !</p>
        <p>Preparado ?</p>
        <p>Então vamos lá !</p>
        <p>Toque no ícone <strong>Guia</strong> para começar</p>
      </div>
    </div>
  </ion-content>
</ion-view>
