<ion-view view-title="Guia">
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-right" type="item-text-wrap" href="#/tab/chats/diagnostico">
                01. Diagnóstico
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#/tab/chats/informacoes">
                    02. Informações                
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#/tab/chats/materiais">
                    03. Lista de Materiais
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#/tab/chats/organizacao">
                    04. Organização
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#/tab/chats/estudando">
                    05. Estudos
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#/tab/chats/saude">
                    06. Saúde
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#/tab/chats/medicacao">
                    07. Medicação
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#/tab/chats/celebridades">
                    08. Quem tem TDAH ?
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <!--
<ion-item class="item-remove-animate item-avatar item-icon-right " ng-repeat="chat in chats " type="item-text-wrap " href="#/tab/chats/{{chat.id}} ">
    <img ng-src="{{chat.face}} ">
    <h2>{{chat.name}}</h2>
    <p>{{chat.lastText}}</p>
    <i class="icon ion-chevron-right icon-accessory "></i>
    <ion-option-button class="button-assertive " ng-click="remove(chat) ">
        Delete
    </ion-option-button>
</ion-item>
-->
        </ion-list>
    </ion-content>
</ion-view>