<ion-view view-title="Ajuda">
    <ion-content class="padding">
        <h2>Como Funciona ?</h2>
        <p>
            Neste app iremos auxiliar a identificar a possível presença de TDAH em adultos e crianças, além de ensinar algumas técnicas que poderão facilitar o gerenciamento da doença. Além de poder auxiliar os pais a lidarem de uma forma mais adequada com quem tem TDAH.
        </p>
        <p>
            Para que isso aconteça listamos de forma fácil todos os itens a serem seguidos na aba Guia. Lembrando que o conteúdo pode ser utilizado independente da ordem, estipulamos essa ordem apenas como sugetão.
        </p>
        <p>
            Na aba emoção você poderá identificar seu humor atual e receber recomendações conforme o momento atual.
        </p>
        <p>Aliás vale lembrar que tudo que você encontrar aqui é opcional e algumas tarefas podem levar tempo pois se tratam de mudanças de habitos !</p>
        <p>Preparado ?</p>
        <p>Então vamos lá !</p>
        <p>Toque no ícone Guia para começar</p>

        <h2>Glossário</h2>
        <p>TDAH - Transtorno do Déficit de Atenção com Hiperatividade</p>
        <p>DDA - Distúrbio do Déficit de Atenção</p>
        <p>Âncora - Algo estipulado por cada pessoa para se manter motivado</p>

        <!--
<h2>
    Welcome to Ionic</h2>
<p>
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
</p>
<p>
    To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
</p>
<p>
    If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
</p>
<p>
    <b>Psst!</b> - Try <a href="http://view.ionic.io/">Ionic View</a> to easily share and test your app with clients and co-workers.
</p>
-->

    </ion-content>
</ion-view>
