/* Empty. Add your own CSS if you like */


/*Top Header distance*/

.bar-header {
    padding-bottom: 4vh;
}

#frase-emocao {
    margin-top: 3vh;
}

.img-url {
    width: 100%;
    height: 100%;
}

.input-group {
    display: flex;
    border: 0.5px solid lightgrey;
    border-radius: 4px;
}


/*Youtube Player*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.two-line-header {
    padding-bottom: 7vh;
}
